.no_data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.24rem;
    color: #999999;
    img {
        width: 1.45rem;
        height: 1.19rem;
        margin-bottom: 0.24rem;
        margin-top: 1.45rem;
    }
}
